body{
  display: flex;
}
 
 #hTorte , #hKafe {
    margin-top: 80px;
    text-align: center;
    text-decoration-line: inherit;
    font-size: 40px;
    font-style: oblique;
    color: rgb(192, 57, 47);
}

  #pKafe, #pTorte{
  color: rgb(230, 108, 99);
  text-align: center;
  margin-left: 10px ;
  margin-right: 10px;
}

  .flex div{
  color: white;
  width: 30%;
  margin: 18px;
  }

  .flex h1{
    font-size: 2vw;
    color: black;
    text-align: inherit;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px;
    justify-content: space-evenly;
    align-items: baseline;
    
  }
  
  .gallery-item img {
    position: absolute;
    border-radius: 5%;
  }
  
  .text-wrapper {
    position: relative;
    width: 300px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    opacity: 0;
  }
  
  .text-wrapper:hover {
    transition: all 0.8s ease;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    border-radius: 5%;
  }
  
  .name {
    font-size: 1.5em;
    text-align: center;
  }

  .title{
    margin: 10px;
    text-align: center;
  }
  

  @media (orientation: portrait) {
    .flex div{
      color: white;
      margin: 18px;
      width: 40%;
      }

    .flex {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      margin: 10px;
    }

    .flex h1{
      font-size: 6vw;
      color: black;
      text-align: inherit;
    }
  }





