body{
  display: flex;
}
 
 #naslovTorte , #naslovKafe {
    margin-top: 80px; /* ovo nije responzivno i vrv je kod tebe drugacija udaljenost od navbara nego kod mene*/
    /*tako da to moramo da sredimo kako da nam sve ovo sto ide ispod navbara uvek bude na istoj razdaljini*/
    text-align: center;
    text-decoration-line: inherit;
    text-decoration-color: rgb(159, 118, 81);
    font-size: 40px;
    font-style: oblique;
    color: rgb(230, 108, 99);
}

  #opisKafe, #opisTorte{
  color: rgb(230, 108, 99);
  text-align: center;
}

  .flex div{
  color: white;
  width: 30%;
  margin: 18px;
  }

  .flex h1{
    font-size: 25px;
    color: black;
    text-align: inherit;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px;
    justify-content: space-evenly;
    align-items: baseline;
    
  }
  
  .gallery-item img {
    position: absolute;
    border-radius: 5%;
  }
  
  .text-wrapper {
    position: relative;
    width: 300px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    opacity: 0;
  }
  
  .text-wrapper:hover {
    transition: all 0.8s ease;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  
  .name {
    font-size: 1.5em;
  }
  

  @media screen and (max-width: 800px) {
    .flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
    }

  }

  @media screen and (max-width: 1100px){
    .flex div {
      width: 40%;
    }

    /*ovaj deo je jer ne postoji hover na telefonu pa kao da se spusti tekst ispod ali morace nesto drugo*/
    .text-wrapper {
      opacity: 1;
      justify-content: flex-end;
      text-shadow: 1px 1px 1px #000;
    }
    .title {
      margin-bottom: 1em;
    }
  }

  @media all and (orientation: portret){
    .flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .levi , .desni{
    color: rgb(230, 108, 99);
    }

   /* @media screen and (max-width: 625px) {
      .fixed-footer{
        
        font-size: 10px;
      }
    }*/




