
.porudzbina{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.forma{
    flex: 1;
    background-color: blanchedalmond;
    max-width: 700px;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    border: 5px solid rgb(239, 154, 154);
}

.naslov{
    font-size: 20px;
    text-align: center;
    color: rgb(250, 134, 134);
}


.form-header{
    padding: 15px 0;
    border-bottom: 1px solid rgb(250, 134, 134);
}

.form-header h1{
    font-size: 30px;
    text-align: center;
    color: rgb(250, 134, 134);
}

.napomena{
    size: 40px;
}

.innercheck {
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  button {
    margin-left: 3cm;
    padding: 8px 16px;
    border: none;
    background: rgb(250, 134, 134);
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    cursor: pointer;
    border-radius: 2px;
    float: right;
  }

  .hide {
    display: none;
  }

  input[type=text], input[type=number], textarea{
    width: 80%;
    padding: 10px;
    border: 3px solid rgb(239, 154, 154);
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
  }

  select{
    width: 50%;
    padding: 10px;
    border: 1.5px solid rgb(239, 154, 154);
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
  }

  .levi , .desni{
    color: rgb(230, 108, 99);
    }

  @media screen and (max-width: 600px) {
    .input-group, .innercheck, input[type=submit], button {
      width: 100%;
      margin-top: 0;
    }
  }
