@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#ebc6c2, #f0b3af, #e9c6a6, #f4c78c);
    font-family: "Roboto Mono";
    font-size: 18px;

}

body, html {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
 
  overflow-x: hidden;
  overflow-y: auto;
 }

 .wrapper{
  min-height: 100%;
  margin-bottom: -10px;
 }

.fixed-footer{
    background-color: #ffc793;
   
    position: relative;
    bottom:0;
    height:100px;
    margin-top: -5px;
   
     display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    
}

.levi , .desni{
  color: rgb(230, 108, 99);
  }
   
  
@media only screen and (min-width: 400px) {
  .levi{
    justify-content: space-around;
  }
  .desni{
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1000px) {
  .levi{
    justify-content: space-evenly;
  }
  .desni{
    justify-content: space-evenly;
  }
}

  
.header{
  background-color: #D68681;
  background-image: linear-gradient(#E7B5AE, #D68681, #E8D7C7, #F8E6CE);;
  box-shadow: 10px 10px 30px #e86a61;
  border-radius: 35px;
  position: sticky;
  width: 100%;
}

.logo{
  display: inline-block;
  color:rgb(230, 108, 99); 
  font-size: 35px;
  margin-left: 20px;
  margin-top: 10px;
  text-decoration: none; 

}

.nav{
  list-style: none;
  display: inline-block;
  padding-top: 8px;
  padding-right: 20px;
  overflow: hidden;
  
}

.menu li{
  list-style-type: none;
}

.menu a{
  color:rgb(230, 108, 99);
  text-decoration: none;
  text-align: center;
  padding: 40px 40px;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 1px;

}

.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* meni */

.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}


.hamb-line {
  background: #E8D7C7;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  
}

.hamb-line::before,
.hamb-line::after{
  background: #E8D7C7;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}

.hamb-line::before{
  top: 5px;
}

.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}


@media (min-width: 768px) {
  .header{
    position: fixed;
    z-index: 1;
  }
  
  .nav{
      max-height: none;
      top: 0;
      position: sticky;
      float: right;
  }

  .menu li{
      float: left;
  }

  .menu a:hover{
      color: #E8D7C7;
  }
  
  .hamb{
      display: none;
  }

}

.name{
  color: rgb(230, 108, 99);
}

.title{
  font-size: 15px;
  color: rgb(230, 108, 99);
}

@media screen and (max-width: 710px) {
  .fixed-footer{
    width: 100%;
    margin-top: 0;
    font-size: 10px;
  }
}
