@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(#ebc6c2, #f0b3af, #e9c6a6, #f4c78c);
    font-family: "Roboto Mono";
    font-size: 18px;

}

.fixed-footer{
    background-color: #ffc793;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    align-self: flex-end;
    padding: 1%;
    text-decoration: none;
}



@media only screen and (min-width: 400px) {
  .levi{
    justify-content: space-around;
  }
  .desni{
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1000px) {
  .levi{
    justify-content: space-evenly;
  }
  .desni{
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 600px){

}

header {
    display: flex;
    justify-content: flex-start;
    padding: 8px 0;
    background-size: 600% 600%;
    background-image: linear-gradient(#E7B5AE, #D68681, #E8D7C7, #F8E6CE);
    border-radius: 35px;
    box-shadow: 10px 10px 30px #e86a61;
    overflow: hidden;
    position: fixed;
    z-index:1;
    margin-top: 3px;
    margin-left: 60px;
    margin-right: 0px;
}


#nav-title {
  margin-left: 35px;
  font-size: 30px;
}

#nav-title a{
  color:black;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
}

.topnav li {
  list-style: none;
  display: inline-block;
  padding-top: 8px;
  padding-right: 20px;
}

.topnav li a {
  color:black;
  text-decoration: none;
  text-align: center;
  padding: 40px 40px;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 1px;

}

header a:hover {
  color: #E8D7C7;
}


 


