body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    background-color: #e7b5ae;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.futer{
  
  flex-shrink: 0;
}

.fixed-footer{
  /*display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
  position: sticky;
  
    background-color: #d68681;
    text-align: center;
    */
    width: 100%;
    min-height: 5vh;
    background-color:#d68681;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    position: sticky;
    align-self: flex-end;
    bottom: 0;
    padding: 1%;
    text-decoration: none;

}

/*.levi{
  display: flex;
  flex-wrap: wrap;
  color: #F8E6CE;
  width: 150px;
  margin: 10px;
}
.desni{
  display: flex;
  flex-wrap: wrap;
  color: #F8E6CE;
  width: 220px;
  margin: 20px;
}*/

@media only screen and (min-width: 400px) {
  .levi{
    justify-content: space-around;
  }
  .desni{
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1000px) {
  .levi{
    justify-content: space-evenly;
  }
  .desni{
    justify-content: space-evenly;
  }
}

header {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 5px 0;
    background-size: 400% 400%;
    background-image: linear-gradient(#E7B5AE, #D68681, #E8D7C7, #F8E6CE);
    border-radius: 35px;
    box-shadow: 10px 10px 30px #e86a61;
    overflow: hidden;
}


#nav-title {
 margin-left: 35px;
  font-size: 1.5em;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header  li a {
  color:black;
  text-decoration: none;
  text-align: center;
  padding: 30px 30px;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 1px;
  opacity: 0.9;
}

header a:hover {
  color: #E8D7C7;
}
 


